codigoFlujoNode-Red/KY-022.json
[
    {
        "id": "0bd5b94beca9296f",
        "type": "tab",
        "label": "KY-022 Modulo led infrarrojo Receptor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bfa5d92c293c3a68",
        "type": "mqtt in",
        "z": "0bd5b94beca9296f",
        "name": "",
        "topic": "utng/infrarrojoReceptor",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a4bf609009dc6641",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 120,
        "wires": [
            [
                "7c554b797691a873"
            ]
        ]
    },
    {
        "id": "7c554b797691a873",
        "type": "postgresql",
        "z": "0bd5b94beca9296f",
        "name": "INSERT sensors",
        "query": "INSERT INTO sensor_details (sensor_id, user_id, value) VALUES (24,1,'{{{msg.payload}}}');",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "split": true,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 650,
        "y": 180,
        "wires": [
            [
                "7cd63258c532ff29"
            ]
        ]
    },
    {
        "id": "7cd63258c532ff29",
        "type": "debug",
        "z": "0bd5b94beca9296f",
        "name": "debug 36",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 180,
        "wires": []
    },
    {
        "id": "a4bf609009dc6641",
        "type": "mqtt-broker",
        "name": "Server",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3cd515a78cadaa56",
        "type": "postgreSQLConfig",
        "name": "aiot",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "aiot",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "utng",
        "userFieldType": "str",
        "password": "1234",
        "passwordFieldType": "str"
    }
]