codigoFlujoNode-Red/KY-021.json
[
    {
        "id": "ff8480194167d954",
        "type": "tab",
        "label": "KY- 021 Modulo Mini Interruptor Magnetico",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0a313f5c31722d6f",
        "type": "mqtt in",
        "z": "ff8480194167d954",
        "name": "",
        "topic": "utng/miniInterruptorMagnetico",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a4bf609009dc6641",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 380,
        "y": 200,
        "wires": [
            [
                "c3f2ecb137089d22"
            ]
        ]
    },
    {
        "id": "c3f2ecb137089d22",
        "type": "postgresql",
        "z": "ff8480194167d954",
        "name": "INSERT sensors",
        "query": "INSERT INTO sensor_details (sensor_id, user_id, value) VALUES (26,1,'{{{msg.payload}}}');\n",
        "postgreSQLConfig": "3cd515a78cadaa56",
        "split": true,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 670,
        "y": 260,
        "wires": [
            [
                "08182117181cd492"
            ]
        ]
    },
    {
        "id": "08182117181cd492",
        "type": "debug",
        "z": "ff8480194167d954",
        "name": "debug 38",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 260,
        "wires": []
    },
    {
        "id": "a4bf609009dc6641",
        "type": "mqtt-broker",
        "name": "Server",
        "broker": "broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3cd515a78cadaa56",
        "type": "postgreSQLConfig",
        "name": "aiot",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "aiot",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "utng",
        "userFieldType": "str",
        "password": "1234",
        "passwordFieldType": "str"
    }
]